*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;/* 1rem = 10px*/
}
body{
    font-size: 1.4rem;/* soit 14px*/
    font-family: arial;
    color: white;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1E2337;
}
.banniere-titre{
    margin-bottom: 2rem;
}
#formulaire{
    width: 50%;
    background-color: white;
    color: grey;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 45px;
}
.form-item{
    margin-bottom: 3rem;
}
.form-item label{
    display: block;
    margin-bottom: 10px;
    font-size: 2rem;
}
.form-item input, textarea{
    padding: 1rem;
    width: 100%;
    color: grey;
    font-size: 2rem;
}
textarea{
    height: 200px;
    font-family: inherit; /*Annuler la police par défaut de textarea*/
    resize: none;/*Empêcher d'étirer le champs*/
}
#btn{
    background-color: orange;
    color: #1E2337;
    border: none;
    padding: 2rem;
    width: 100%;
    margin-top: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}
.error{
    margin-top: 5px;
    color: red;
}
.invisible{
    display: none;
}


